.create-form {
  background-color: #e6f5fe;
  padding: 10px;
  width: 70%;
  border-bottom: 0.05px solid #e5ecf0;
  height: 50px;
  display: block;
  margin: auto;
}

.create-button {
  font-size: 14px;
  height: 30px;
  border-radius: 5px;
  border: 0.25px solid #009df6;
  margin-left: 10px;
  color: #617787;
}

.create-button:hover {
  cursor: pointer;
}

.tweet-input {
  font-size: 14px;
  width: 400px;
  height: 30px;
  border-radius: 5px;
  border: 0.25px solid #009df6;
}

div {
  width: 100%;
}
