.name {
  display: block;
  margin-bottom: 10px;
  font-size: 14px;
  width: 250px;
}

.username {
  display: block;
  margin-bottom: 10px;
  font-size: 14px;
  width: 250px;
}

.signup-container {
  background-color: #ffffff;
  width: 70%;
  height: 80%;
  margin-top: 60px;
}

.login-option {
  display: block;
  position: absolute;
  width: 70%;
  margin-top: 50px;
}

.option-button {
  background-color: #1da1f2;
  border: none;
  border-radius: 100px;
  margin-top: 7px;
  margin-right: 20px;
  color: white;
  padding: 6px 16px;
  font-weight: bold;
  position: relative;
  height: 35px;
}
