* {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue",
    Helvetica, Arial, "Lucida Grande", sans-serif;
}

.profile-page {
  position: absolute;
  background-color: #e5ecf0;
  width: 100%;
}

.container {
  width: 100%;
  margin-top: 50px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.user-header {
  width: 70%;
  background-color: #e3f5ff;
  height: 200px;
  font-weight: normal;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile-feeder {
  margin-top: 10px;
  width: 100%;
}
