* {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue",
    Helvetica, Arial, "Lucida Grande", sans-serif;
}

.app {
  position: absolute;
  background-color: #e5ecf0;
  width: 100%;
}

.feeder {
  /* margin-left: 200px;
  margin-right: 200px; */
  width: 100%;
  margin-top: 60px;
  display: flex;
  justify-content: center;
  /* margin-right: auto;
  margin-left: auto; */
}
