.tweet {
  background-color: #ffffff;
  padding: 10px;
  border-bottom: 0.05px solid #e5ecf0;
  height: 300px;
  width: 70%;
  display: block;
  margin: auto;
}

.tweet:hover {
  background-color: #f4f8fa;
  cursor: pointer;
}

.author-info {
  /* display: inline-block; */
  margin-top: -20px;
}

.tweet-author {
  display: flex;
  align-items: center;
}

.tweet-author-text {
  font-weight: bold;
  text-align: left;
  /* margin-bottom: 10px; */
}

.tweet-user-text {
  text-align: left;
  display: block;
  position: absolute;
  font-size: 14px;
}

.author-icon {
  height: 50px;
  margin-right: 10px;
  float: left;
}

.tweet-text {
  margin-top: 10%;
  width: 90%;
}

.loader {
  padding: 5px;
}

/************************************/

.popup {
  width: 60%;
  height: 300px;
  position: absolute;
  background-color: #ffffff;
  margin-top: 150px;
}

.popup-icon {
  height: 50px;
  float: left;
  padding: 10px;
  box-sizing: unset;
  margin-left: 20px;
}

.popup-author {
  display: flex;
}

.popup-author-info {
  margin-top: 15px;
}

.popup-author-info:hover {
  cursor: pointer;
}

.popup-author-text {
  text-align: left;
  font-weight: bold;
  margin-bottom: 10px;
  border: none;
  background-color: #ffffff;
}

.popup-user-text {
  border: none;
  text-align: left;
  display: block;
  position: absolute;
  font-size: 14px;
  background-color: #ffffff;
}

.popup-text {
  margin-top: 5%;
  position: absolute;
}

.close-icon {
  float: right;
  border: none;
  margin-right: 4px;
  font-size: 20px;
}

.close-icon:hover {
  cursor: pointer;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.75);
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-content: center;
}
